# Core Libraries
pandas
numpy
matplotlib
seaborn

# Machine Learning
scikit-learn
xgboost
lightgbm

# Dashboard
streamlit

# Jupyter Notebook Support
notebook
ipykernel

# Model Persistence
joblib
